<% response.forEach(function(response,index) { %>

    <div class="col-lg-4 col-md-4 col-12 col-sm-6">


        <div class="product-cart-wrap mb-30">
            <div class="product-img-action-wrap">
                <div class="product-img product-img-zoom">
                     <a href="/viewProductDetails"> 
                      <a href ="/viewProductDetails/<%=response._id %> "> 
                        <img class="default-img" src="/uploads/<%= response.Image[0]%>" alt="">
                        <!-- <img class="hover-img" src="assets/imgs/shop/product-7-1.jpg" alt=""> -->
                    </a>
                </div>
                <div class="product-action-1">
                    <a aria-label="Quick view" class="action-btn hover-up" data-bs-toggle="modal" data-bs-target="#quickViewModal">
<i class="fi-rs-search"></i></a>
                    <a aria-label="Add To Wishlist" class="action-btn hover-up" href="shop-wishlist.html"><i class="fi-rs-heart"></i></a>
                    <a aria-label="Compare" class="action-btn hover-up" href="shop-compare.html"><i class="fi-rs-shuffle"></i></a>
                </div>
                <div class="product-badges product-badges-position product-badges-mrg">
                    
                </div>
            </div>
            <div class="product-content-wrap">
                <div class="product-category">
                    <a href="shop-grid-right.html"><%=response[i].category%></a>
                </div>
                <h2><a href="shop-product-right.html"><%=response.Productname%></a></h2>
                <div class="rating-result" title="90%">
                    <span>
                        <span>95%</span>
                    </span>
                </div>
                <div class="product-price">
                    <span><%=response.Price%></span>
                
                </div>
                <div class="product-action-1 show">
                    <!-- <a aria-label="Add To Cart" class="action-btn hover-up" href="/add-to-cart/<%=response._id%>" onclick="addToCart()"><i class="fi-rs-shopping-bag-add"></i></a> -->
                    <button
                    type="button"
                    aria-label="Add To Cart"
                    class="action-btn hover-up"
                    onclick="addtocart('<%-response._id%>'),
                   Swal.fire({
                    position: 'center',
                    icon: 'success',
                    title: 'Item Added Successfully To Cart',
                    showConfirmButton: false,
                    timer: 2000
                  })"
                  >
                    <i class="fi-rs-shopping-bag-add"></i>
                  </button>
                </div>
            </div>
        </div>
    </div>
     <% }) %>