
<aside class="navbar-aside" id="offcanvas_aside">
  <div class="aside-top">
    <a href="/admin" class="brand-wrap">
      <img src="https://res.cloudinary.com/dvrynofzp/image/upload/v1683296206/elctrify_cart_img_logo_bfbdwq.png" class="logo" alt="Evara Dashboard" />
    </a>
    <div>
      <button class="btn btn-icon btn-aside-minimize">  
        <i class="text-muted material-icons md-menu_open"></i>
      </button>
    </div>
  </div>
  <nav>
    <ul class="menu-aside">
      <li class="menu-item active" >
        <a class="" href="/admin">
          <i class="icon material-icons md-home"></i>
          <span class="text" style="color: #000">Dashboard</span>
        </a>
      </li>
      <!-- <li class="menu-item has-submenu">
        <a class="" href="/product">
          <i class="icon material-icons md-shopping_bag"></i>
          <span class="text" style="color: #000">Products</span>
        </a>
      </li> -->
      <li class="menu-item has-submenu">
        <a class="" href="/admin/add_category">
          <i class="icon material-icons md-store"></i>
          <span class="text" style="color: #000">Categories</span>
        </a>
      </li>
      <li class="menu-item has-submenu">
        <a class="" href="/admin/view-users">
          <i class="icon material-icons md-store"></i>
          <span class="text" style="color: #000">User Block/Unblock</span>
        </a>
      </li>
      <li class="menu-item has-submenu">
        <a class="" href="/admin/orders_list">
          <i class="icon material-icons md-shopping_cart"></i>
          <span class="text" style="color: #000">Orders</span>
        </a>
      </li>

      <li class="menu-item has-submenu">
        <a class="" href="/admin/add_product">
          <i class="icon material-icons md-add_box"></i>
          <span class="text" style="color: #000">Add Product</span>
        </a>
      </li>
      <li class="menu-item has-submenu">
        <a class="" href="/admin/view_product">
          <i class="icon material-icons md-monetization_on"></i>
          <span class="text" style="color: #000">View Products</span>
        </a>
      </li>

      <li class="menu-item has-submenu">
        <a
          class=""
          href="/admin/add_coupons"
          style="text-decoration: none; margin-bottom: 1.5rem"
        >
          <i class="icon material-icons md-person"></i>
          <span class="text" style="color: #000">AddCoupons</span>
        </a>
      </li>

      <li class="menu-item has-submenu">
        <a
          class=""
          href="/admin/coupons"
          style="text-decoration: none; margin-bottom: 1.5rem"
        >
          <i class="icon material-icons md-person"></i>
          <span class="text" style="color: #000">View Coupons</span>
        </a>
      </li>



      <li class="menu-item has-submenu">
        <a class="" href="/admin/banner">
          <i class="icon material-icons md-settings"></i>
          <span class="text" style="color: #000">Banner</span>
        </a>
      </li>
      <!-- <li class="menu-item has-submenu">
        <a class="" href="#">
          <i class="icon material-icons md-person"></i>
          <span class="text">Account</span>
        </a>
        <div class="submenu">
          <a href="page-account-login.html">User login</a>
          <a href="page-account-register.html">User registration</a>
          <a href="page-error-404.html">Error 404</a>
        </div>
      </li> -->
      <!-- <li class="menu-item">
        <a class="" href="page-reviews.html">
          <i class="icon material-icons md-comment"></i>
          <span class="text" style="color: #000">Reviews</span>
        </a>
      </li> -->
      <!-- <li class="menu-item">
        <a class="" href="page-brands.html">
          <i class="icon material-icons md-stars"></i>
          <span class="text">Brands</span>
        </a>
      </li> -->
    </ul>
    <hr />
    <!-- <ul class="menu-aside">
      <li class="menu-item has-submenu">
        <a class="" href="admin/banner">
          <i class="icon material-icons md-settings"></i>
          <span class="text" style="color: #000">Banners</span>
        </a>
      </li>
    </ul> -->
    <br />
    <br />
  </nav>
</aside>

